@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=VT323&display=swap');

body {
    background-color: #050505;
    color: #0f0; 
    font-family: 'VT323', monospace;
    cursor: crosshair;
}

/* --- SCROLL --- */
.scroll-container {
    position: relative;
    z-index: 20;
    width: 100%;
}

.scroll-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-wrapper {
    text-align: center;
    opacity: 0; 
}

.glitch-title {
    font-size: 12rem;
    color: white;
    font-family: 'Black Ops One', cursive;
    position: relative;
    text-shadow: 2px 2px 0px #ff0000, -2px -2px 0px #00ff00;
    animation: glitch 1s infinite;
}

@keyframes glitch {
    0% { transform: translate(0) }
    20% { transform: translate(-2px, 2px) }
    40% { transform: translate(-2px, -2px) }
    60% { transform: translate(2px, 2px) }
    80% { transform: translate(2px, -2px) }
    100% { transform: translate(0) }
}

/* ---------------- */

.rocket-container {
    position: absolute;
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%);
    
    width: 100px; height: 40px;
    z-index: 60;
    will-change: transform;
    transform-origin: center center;
    visibility: hidden;
}

.hull {
    width: 100%; height: 100%;
    background: linear-gradient(to bottom, #eee 0%, #999 50%, #555 100%);
    
    clip-path: polygon(0% 10%, 75% 0%, 100% 50%, 75% 100%, 0% 90%);
    
    position: relative;
    z-index: 10;
}

.window-side {
    position: absolute;
    right: 30px; top: 10px; 
    width: 12px; height: 12px;
    background: #00eaff;
    border-radius: 2px; 
    box-shadow: 0 0 5px #00eaff;
}

.stripe-detail {
    position: absolute;
    left: 15px; top: 0; bottom: 0;
    width: 10px;
    background: #ff3333;
    opacity: 0.8;
}

.fin {
    position: absolute;
    background: #d32f2f;
    border: 1px solid #8b0000;
    z-index: 5;
}

.fin-top {
    top: -15px; left: 10px;
    width: 30px; height: 20px;
    transform: skewX(-30deg);
    border-radius: 5px 10px 0 0;
}

.fin-bottom {
    bottom: -15px; left: 10px;
    width: 30px; height: 20px;
    transform: skewX(30deg);
    border-radius: 0 0 10px 5px;
}

.fin-back {
    left: -5px; top: 12px;
    width: 10px; height: 16px;
    background: #444;
}

.engine-fire {
    position: absolute;
    right: 100%; 
    top: 10px;
    width: 40px; height: 20px;
    background: linear-gradient(to left, #ffaa00, transparent);
    border-radius: 50px 0 0 50px;
    filter: blur(5px);
    opacity: 0.6;
    transform-origin: right center;
    transition: all 0.2s;
}

.rocket-container.active .engine-fire {
    width: 80px; 
    background: linear-gradient(to left, #00eaff, transparent); 
    opacity: 1;
    filter: blur(8px);
}

.rocket-container.active .hull {
    filter: drop-shadow(0 0 10px cyan);
}

.obstacle-planet {
    position: absolute; border-radius: 50%; z-index: 55;
    box-shadow: -5px -5px 10px rgba(0,0,0,0.5) inset;
}