@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=VT323&display=swap');

body {
    background-color: #050505;
    color: #0f0; 
    font-family: 'VT323', monospace;
    cursor: crosshair;
}

/* --- SCROLL --- */
.scroll-container {
    position: relative;
    z-index: 20;
    width: 100%;
}

.scroll-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-wrapper {
    text-align: center;
    opacity: 0; 
}

.glitch-title {
    font-size: 12rem;
    color: white;
    font-family: 'Black Ops One', cursive;
    position: relative;
    text-shadow: 2px 2px 0px #ff0000, -2px -2px 0px #00ff00;
    animation: glitch 1s infinite;
}

@keyframes glitch {
    0% { transform: translate(0) }
    20% { transform: translate(-2px, 2px) }
    40% { transform: translate(-2px, -2px) }
    60% { transform: translate(2px, 2px) }
    80% { transform: translate(2px, -2px) }
    100% { transform: translate(0) }
}

/* --- NAVE --- */
.rocket-container {
    position: absolute;
    width: 200px; height: 60px;
    z-index: 60;
    will-change: transform;
    transform: translate(-50%, 150vh); 
    left: 50%; 
}

.rocket-container.active {
    filter: drop-shadow(0 0 15px cyan);
}

.rocket-body {
    width: 100%; height: 100%;
    background: #ddd;
    border-radius: 50% 50% 50% 50% / 20% 20% 20% 20%;
    position: relative;
    border: 2px solid #555;
    overflow: hidden;
}

.logo-404 {
    position: absolute;
    top: 15px; left: 60px;
    font-family: 'Black Ops One';
    color: #333;
    font-size: 24px;
}

.window {
    position: absolute;
    right: 40px; top: 10px;
    width: 20px; height: 20px;
    background: #00aaff;
    border-radius: 50%;
    box-shadow: inset 2px 2px 5px white;
}

.wing-top, .wing-bottom {
    position: absolute;
    width: 40px; height: 30px;
    background: #ff3333;
    border: 2px solid #900;
    z-index: -1;
}
.wing-top { top: -20px; left: 20px; transform: skewX(-40deg); border-radius: 10px 0 0 0; }
.wing-bottom { bottom: -20px; left: 20px; transform: skewX(40deg); border-radius: 0 0 0 10px; }
.wing-back { position: absolute; left: -10px; top: 15px; width: 15px; height: 30px; background: #900; }

.rocket-flame {
    position: absolute;
    left: -30px; top: 15px;
    width: 40px; height: 30px;
    background: orange;
    border-radius: 50%;
    filter: blur(10px);
    opacity: 0;
    transition: opacity 0.2s;
}
.rocket-container.active .rocket-flame { opacity: 1; animation: flameFlicker 0.1s infinite; }
@keyframes flameFlicker { 0% { transform: scale(1); } 100% { transform: scale(1.2); } }

/* Obstáculos */
.obstacle-planet {
    position: absolute; border-radius: 50%; z-index: 55;
    box-shadow: -5px -5px 10px rgba(0,0,0,0.5) inset;
}